@charset "utf-8";

@font-face { 
	font-family:'MuseoSansCyrl-100'; 
	src: url('../fonts/MuseoSansCyrl-100.eot'); 
	src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-300'; 
	src: url('../fonts/MuseoSansCyrl-300.eot'); 
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-500'; 
	src: url('../fonts/MuseoSansCyrl-500.eot'); 
	src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-500.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-700'; 
	src: url('../fonts/MuseoSansCyrl-700.eot'); 
	src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-900'; 
	src: url('../fonts/MuseoSansCyrl-900.eot'); 
	src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
	box-sizing: border-box;
	font-family: 'MuseoSansCyrl-300';
	padding-top: 162px;
}
body.active {
	height: 100vh !important;
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: 20px;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.35);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header.active {
	position: fixed;
	background-color: rgb(26, 48, 102);
}
.header .mobile-menu {
	display: none;
}
.header .b-block {
	padding-top: 32px;
	padding-bottom: 23px;
}
.header.active .b-block {
	padding-top: 0px;
	padding-bottom: 0px;
}
.header-logo {
	display: block;
	position: absolute;
	top: calc(50% - 70px);
	left: 30px;
	max-width: 100%;
	max-height: 100%;
}
.header.active .header-logo {
	display: none;
}
.header-logo img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.header-top {
	text-align: left;
	margin-bottom: 31px;
	box-sizing: border-box;
	width: 100%;
	padding-left: 190px;
}
.header.active .header-top {
	display: none;
}
.header-top-left {
	display: inline-block;
	vertical-align: middle;
	width: calc(40% - 4px);
}
.header-top-right {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	text-align: right;
}
.header-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 1.2;
}
.header-phone {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	text-align: right;
}
.header-phone a {
	font-size: 24px;
	color: rgb(77, 77, 77);
	font-family: 'MuseoSansCyrl-700';
}
.header-phone span {
	display: block;
	font-size: 14px;
	color: rgb(77, 77, 77);
}
.header .social-list {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;
	text-align: center;
}
.header .social-list li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
}
.header .social-list li a {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 50%;
	border: 1px solid #919191;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header .social-list li a img {
	display: block;
	max-width: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.header .social-list li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.header-order {
	display: inline-block;
	vertical-align: middle;
	margin-left: 21px;
	text-align: center;
}
.header-order a {
	display: inline-block;
	padding: 12px 20px;
	border: 1px solid rgb(49, 147, 230);
	box-sizing: border-box;
	border-radius: 5px;
	font-family: 'MuseoSansCyrl-500';
	font-size: 14px;
	color: rgb(49, 147, 230);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-order a:hover {
	background-color: rgb(49, 147, 230);
	color: #ffffff;
}
.header-nav {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	padding-left: 190px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header.active .header-nav {
	padding-left: 0;
}
.header-nav a {
	position: relative;
	font-size: 16px;
	color: rgb(49, 147, 230);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 1;
	display: inline-block;
}
.header-nav a:hover {
	color: #113554;
}
.header.active .header-nav a {
	color: #ffffff;
	padding: 15px 10px;
	box-sizing: border-box;
}
.header.active .header-nav a:hover {
	color: #ffffff;
	background-color: rgb(38, 71, 153);
}

.footer {
	background-color: #e6e6e6;
}
.footer .b-block {
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer-logo {
	display: inline-block;
	vertical-align: middle;
	max-width: 155px;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-logo-atk {
	display: inline-block;
	vertical-align: middle;
	max-width: 139px;
}
.footer-logo-atk img {
	display: block;
	max-width: 100%;
}
.footer-text {
	display: inline-block;
	vertical-align: middle;
	margin-right: 48px;
	width: calc(100% - 350px);
}
.footer-text-flex {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	width: 100% - 350px;
}
.footer-text p {
	display: block;
	max-width: 220px;
	font-size: 14px;
	color: rgb(77, 77, 77);
	line-height: 1.2;
	text-align: left;
}
.footer-text ul {
	display: block;
	box-sizing: border-box;
	padding: 0 10px;
}
.footer-text ul li {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 10px;
	color: rgb(77, 77, 77);
	text-align: left;
}
.footer-text ul li a {
	color: rgb(77, 77, 77);
}
.footer-text ul li a:hover {
	text-decoration: underline;
}

.popup-article {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	padding: 30px;
	box-sizing: border-box;
	overflow-y: auto;
	background-color: #ffffff;
}
.popup-article.active {
	display: block;
	z-index: 200;
}
.popup-article .article-main-title {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin: 0 auto 50px;
	max-width: 720px;
}
.popup-article .article-main-title::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.popup-article .article-title {
	display: block;
	text-align: center;
	line-height: 1.2;
	color: #000000;
	font-family: 'MuseoSansCyrl-900';
	font-size: 30px;
	max-width: 720px;
	margin: 0 auto 30px;
}
.popup-article .article-text {
	display: block;
	font-size: 18px;
	font-family: 'MuseoSansCyrl-300';
	color: #000000;
	text-align: left;
	max-width: 720px;
	line-height: 1.2;
	margin: 0 auto 20px;
}
.popup-article .article-text.last {
	margin-bottom: 50px;
}
.popup-article .article-close {
	display: block;
	position: fixed;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	background-image: url('../i/close.svg');
	background-size: contain;
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup-article .article-close:hover{
	opacity: 1;
	cursor: pointer;
	/*-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);*/
}
.popup-article .article-scroll {
	display: none;
	width: 30px;
	height: 30px;
	background-image: url('../i/up-arrow.svg');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center 40%;
	position: fixed;
	top: 30px;
	left: 10px;
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 50%;
	background-color: rgb(190, 190, 190);
}
.popup-article .article-scroll:hover {
	opacity: 1;
	cursor: pointer;
}
.popup-article-img {
	display: block;
	margin: 0 auto 20px;
	max-width: 100%;
}
.popup-article iframe {
	max-width: 100%;
	display: block;
	margin: 0 auto 20px;
}
.article-nav {
	display: block;
	margin: 0 auto 35px;
	padding-top: 28px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.article-nav-left {
	display: inline-block;
	vertical-align: middle;
	width: calc(50% - 2px);
	text-align: left;
}
.article-nav-left a {
	display: inline-block;
	vertical-align: middle;
	font-family: 'MuseoSansCyrl-700';
	font-size: 18px;
	color: rgb(49, 147, 230);
	padding-left: 40px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.article-nav-left a:hover {
	color: #126ebc;
}
.article-nav-left a::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: calc(50% - 7px);
	width: 28px;
	height: 14px;
	background-image: url('../i/back-arr.png');
	background-size: contain;
}
.article-nav-right {
	display: inline-block;
	vertical-align: middle;
	width: calc(50% - 2px);
	text-align: right;
}
.article-nav-right a {
	display: inline-block;
	vertical-align: middle;
	font-family: 'MuseoSansCyrl-700';
	font-size: 18px;
	color: rgb(49, 147, 230);
	padding-right: 40px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.article-nav-right a:hover {
	color: #126ebc;
}
.article-nav-right a::before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: calc(50% - 7px);
	width: 28px;
	height: 14px;
	background-image: url('../i/back-arr.png');
	background-size: contain;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.news-share-block {
	border-radius: 100px;
	margin: 0 auto 40px;
	height: 30px;
	position: relative;
	width: 100%;
	max-width: 400px;
}
.news-share-block input {
	display: block;
	font-family: "PFDinDisplayPro-Light";
	font-size: 14px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 100px;
	border: 1px solid #c2cfd8;
	text-align: left;
	color: rgb(190, 190, 190);
	padding: 0 15px;
	overflow: hidden;
}
.news-share-block .news-share-btn {
	background-color: #c2cfd8;
	height: 100%;
	position: absolute;
	text-align: center;
	right: 0;
	top: 0;
	width: 37px;
	overflow: hidden;
	border-radius: 0 100px 100px 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.news-share-block .news-share-btn:hover {
	width: 100%;
	border-radius: 100px;
	cursor: pointer;
}
.news-share-block .news-share-btn span {
	color: transparent;
	font-size: 16px;
	display: inline-block;
	padding: 0 25px;
	margin: 5px 7px 0 7px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
}
.news-share-block .news-share-btn:hover span {
	color: #ffffff;
}
.news-share-block .news-share-btn span::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 19px;
	height: 100%;
	background-image: url('../i/copy-icon.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.popup {
	background-color: #ffffff;
	padding: 30px 50px;
	box-sizing: border-box;
	width: 90%;
	max-width: 550px;
	text-align: center;
}
.popup-background {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.popup-title {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.popup-title::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.popup-subtitle {
	display: block;
	font-family: 'MuseoSansCyrl-700';
	color: #000000;
	font-size: 20px;
	margin-bottom: 22px;
}
.popup form {
	display: block;
	margin: 0 auto;
	max-width: 350px;
}
.popup form input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	border: 1px solid rgb(230, 230, 230);
	padding: 18px 20px;
	font-size: 16px;
	font-family: 'MuseoSansCyrl-300';
	color: rgb(153, 153, 153);
	margin-bottom: 20px;
	background-color: transparent;
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup form input:hover, .popup form input:focus {
	border-color: rgb(49, 147, 230);
}
.popup form input::-webkit-input-placeholder {
	color: rgb(153, 153, 153);
	font-family: 'MuseoSansCyrl-300';
}
.popup form input:-moz-placeholder {
	color: rgb(153, 153, 153);
	font-family: 'MuseoSansCyrl-300';
}
.popup form input:focus::-webkit-input-placeholder {
	color: transparent;
}
.popup form input:focus:-moz-placeholder {
	color: transparent;
}
.popup form button {
	display: block;
	margin: 0 auto 18px;
	border-radius: 5px;
	background-color: rgb(204, 0, 0);
	max-width: 240px;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	font-size: 18px;
	color: #ffffff;
	font-family: 'MuseoSansCyrl-500';
	border: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup form button:hover {
	cursor: pointer;
	background-color: #950000;
}
.popup form .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 13px;
	color: rgb(153, 153, 153);
	line-height: 1.2;
	position: relative;
	text-align: left;
	padding-left: 23px;
}
.popup form .button-text a {
	color: rgb(153, 153, 153);
}
.popup form .button-text a:hover {
	text-decoration: underline;
}
.popup form .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 13px;
	height: 13px;
	border: 1px solid rgb(230, 230, 230);
	left: 0;
	top: 2px;
}
.popup form .button-text .radio-btn.error {
	border-color: #ff0000;
}
.popup form .button-text .radio-btn:hover {
	cursor: pointer;
}
.popup form .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 6px;
	height: 1px;
	position: absolute;
	left: 1px;
	top: 7px;
	background-color: rgb(153, 153, 153);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup form .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 9px;
	height: 1px;
	position: absolute;
	left: 4px;
	top: 6px;
	background-color: rgb(153, 153, 153);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.fancybox-close-small {
	width: 30px;
	height: 30px;
}
.fancybox-close-small:after {
	font-family: 'MuseoSansCyrl-500';
	font-size: 30px;
	top: 0;
	right: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	color: rgb(153, 153, 153);
}
.fancybox-close-small:hover:after {
	background-color: transparent;
	color: #000000;
}
.fancybox-close-small:active:after, .fancybox-close-small:focus:after { 
	outline: none;
}









@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	body {
		padding-top: 148px;
	}
	.header-logo {
		max-width: 110px;
		top: 10px;
	}
	.header-top {
		padding-left: 120px;
	}
	.header-phone a {
		font-size: 18px;
	}
	.header .social-list {
		margin-left: 0;
	}
	.header-order {
		margin-left: 0;
	}
	.header-top-left {
		display: none;
	}
	.header-top-right {
		display: block;
		width: 100%;
		text-align: right;
	}
	.header-nav {
		padding-left: 0;
	}
	.footer-text {
		display: block;
		margin: 30px auto;
		width: 100%;
	}
	.footer-text p {
		max-width: 190px;
	}
}
@media screen and (max-width: 767px){
	.b-block {
		padding: 0 10px;
	}
	body {
		padding-top: 62px;
	}
	.header {
		position: fixed;
	}
	.header .b-block {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.header-logo {
		display: none;
	}
	.header-top {
		padding-left: 0;
		margin-bottom: 0;
	}
	.header .social-list {
		display: none;
	}
	.header-order {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.footer .b-block {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.footer-text-flex {
		display: block;
	}
	.footer-text p {
		max-width: 300px;
		margin: 0 auto 20px;
		text-align: center;
	}
	.footer-text ul li {
		text-align: center;
	}
	.header .mobile-menu {
		display: block;
		position: fixed;
		box-sizing: border-box;
		width: 100%;
		height: 100vh;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow-y: auto;
		background-color: #ffffff;
		top: -110%;
		left: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
		z-index: 2;
	}
	.header .mobile-menu .close-btn {
		top: 20px;
		left: 15px;
	}
	.header .mobile-menu.active {
		top: 0;
	}
	.header .mobile-menu .header-nav, .header .mobile-menu .social-list {
		display: block;
		margin-bottom: 20px;
	}
	.header-nav a br {
		display: none;
	}
	.header-nav li {
		margin-bottom: 10px;
	}
	.header .mobile-menu .header-logo {
		display: inline-block;
		position: static;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.header .mobile-btn {
		display: block;
	}
	.header .close-btn {
		display: block;
	}
	.mobile-menu .header-order {
		display: block;
	}
	.popup-article {
		padding: 30px 60px;
	}
	.popup-article .article-close {
		position: absolute;
		right: 10px;
	}
	.popup-article .article-scroll.active {
		display: block;
	}
	.popup {
		padding: 30px 10px;
	}
	.news-share-block {
		display: none;
	}
	.uSocial-Share {
		display: none !important;
	}
}