@charset "utf-8";

@font-face { 
	font-family:'MuseoSansCyrl-100'; 
	src: url('../fonts/MuseoSansCyrl-100.eot'); 
	src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-300'; 
	src: url('../fonts/MuseoSansCyrl-300.eot'); 
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-500'; 
	src: url('../fonts/MuseoSansCyrl-500.eot'); 
	src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-500.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-700'; 
	src: url('../fonts/MuseoSansCyrl-700.eot'); 
	src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
} 

@font-face { 
	font-family:'MuseoSansCyrl-900'; 
	src: url('../fonts/MuseoSansCyrl-900.eot'); 
	src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), 
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'), 
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'), 
		url('../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
	font-stretch: normal; 
	unicode-range: U+0020-0525; 
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
	box-sizing: border-box;
	font-family: 'MuseoSansCyrl-300';
	padding-top: 162px;
}
body.active {
	height: 100vh !important;
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: 20px;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.35);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header.active {
	position: fixed;
	background-color: rgb(26, 48, 102);
}
.header .mobile-menu {
	display: none;
}
.header .b-block {
	padding-top: 32px;
	padding-bottom: 23px;
}
.header.active .b-block {
	padding-top: 0px;
	padding-bottom: 0px;
}
.header-logo {
	display: block;
	position: absolute;
	top: calc(50% - 70px);
	left: 30px;
	max-width: 100%;
	max-height: 100%;
}
.header.active .header-logo {
	display: none;
}
.header-logo img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.header-top {
	text-align: left;
	margin-bottom: 31px;
	box-sizing: border-box;
	width: 100%;
	padding-left: 190px;
}
.header.active .header-top {
	display: none;
}
.header-top-left {
	display: inline-block;
	vertical-align: middle;
	width: calc(40% - 4px);
}
.header-top-right {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}
.header-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 1.2;
}
.header-phone {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	text-align: center;
}
.header-phone a {
	font-size: 24px;
	color: rgb(77, 77, 77);
	font-family: 'MuseoSansCyrl-700';
}
.header .social-list {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;
	text-align: center;
}
.header .social-list li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
}
.header .social-list li a {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 50%;
	border: 1px solid #919191;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header .social-list li a img {
	display: block;
	max-width: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.header .social-list li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.header-order {
	display: inline-block;
	vertical-align: middle;
	margin-left: 21px;
	text-align: center;
}
.header-order a {
	display: inline-block;
	padding: 12px 20px;
	border: 1px solid rgb(49, 147, 230);
	box-sizing: border-box;
	border-radius: 5px;
	font-family: 'MuseoSansCyrl-500';
	font-size: 14px;
	color: rgb(49, 147, 230);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-order a:hover {
	background-color: rgb(49, 147, 230);
	color: #ffffff;
}
.header-nav {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	padding-left: 190px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header.active .header-nav {
	padding-left: 0;
}
.header-nav a {
	position: relative;
	font-size: 16px;
	color: rgb(49, 147, 230);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 1;
	display: inline-block;
}
.header-nav a:hover {
	color: #113554;
}
.header.active .header-nav a {
	color: #ffffff;
	padding: 15px 10px;
	box-sizing: border-box;
}
.header.active .header-nav a:hover {
	color: #ffffff;
	background-color: rgb(38, 71, 153);
}

.b-1 {
	text-align: left;
	background-color: #3193e6;
}
.b-1 .b-block {
	padding-top: 67px;
	padding-bottom: 110px;
}
.b-1 h1 {
	display: block;
	width: 55%;
	font-family: 'MuseoSansCyrl-900';
	color: #ffffff;
	font-size: 40px;
	line-height: 1.2;
	padding-bottom: 26px;
	position: relative;
	margin-bottom: 29px;
}
.b-1 h1 span {
	color: rgb(255, 192, 0);
}
.b-1 h1::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 161px;
	height: 4px;
	background-color: #ffffff;
}
.b-1 p {
	display: block;
	font-family: 'MuseoSansCyrl-500';
	font-size: 25px;
	color: #ffffff;
	line-height: 1.2;
	width: 55%;
	margin-bottom: 27px;
}
.b-1-btn {
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(204, 0, 0);
	padding: 18px 21px;
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-btn:hover {
	background-color: #950000;
}
.b-1-img {
	display: block;
	position: absolute;
	width: 45%;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.b-2 .b-block {
	padding-top: 45px;
	padding-bottom: 50px;
}
.b-2-left {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding-right: 15px;
	width: calc(40% - 4px);
	margin-bottom: 30px;
}
.b-2-left img {
	display: block;
	max-width: 100%;
	margin: 30px auto 16px;
}
.b-2-left .name {
	font-size: 17px;
	color: #000000;
	line-height: 1.2;
}
.b-2-left .name span {
	font-family: 'MuseoSansCyrl-500';
	font-size: 20px;
}
.b-2-right {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: calc(60% - 4px);
	padding-left: 15px;
	text-align: left;
}
.b-2-right h2 {
	display: block;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	padding-bottom: 25px;
	position: relative;
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 29px;
}
.b-2-right h2::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 161px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.b-2-right p {
	display: block;
	font-size: 16px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 20px;
}
.b-2-right .list-title {
	display: block;
	font-family: 'MuseoSansCyrl-700';
	color: #000000;
	line-height: 1.2;
	font-size: 16px;
	margin-bottom: 20px;
}
.b-2-right ul li {
	display: block;
	box-sizing: border-box;
	padding-left: 37px;
	width: 100%;
	font-size: 16px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 16px;
	position: relative;
}
.b-2-right ul li::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 7px;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	background-color: rgb(49, 147, 230);
}
.b-2-btn {
	display: inline-block;
	padding: 15px 30px;
	color: #ffffff;
	border-radius: 5px;
	background-color: rgb(204, 0, 0);
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2-btn:hover {
	background-color: #950000;
}

.b-3 {
	background-color: #f2f2f2;
}
.b-3 .b-block {
	padding-top: 50px;
	padding-bottom: 20px;
}
.b-3 h2 {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-3 h2::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.b-3-list {
	text-align: left;
}
.b-3-list li {
	display: inline-block;
	vertical-align: top;
	max-width: 570px;
	margin-right: 25px;
	margin-bottom: 30px;
	padding: 22px 20px 20px 13px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid rgb(217, 217, 217);
	background-color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-list li:nth-child(2n) {
	margin-right: auto;
}
.b-3-list li:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}
.b-3-list li .li-name {
	font-size: 20px;
	font-family: 'MuseoSansCyrl-700';
	line-height: 1.2;
	position: relative;
	padding-left: 50px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	text-align: left;
}
.b-3-list li .li-name span {
	display: block;
	position: absolute;
	background-color: #ffffff;
	border-radius: 50%;
	border: 1px solid rgb(217, 217, 217);
	width: 35px;
	height: 35px;
	left: 0;
	top: calc(50% - 18px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-list .li-name span b {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	font-weight: normal;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-3-list li:hover .li-name span {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}
.b-3-list .li-text {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	width: calc(70% - 19px);
	box-sizing: border-box;
	text-align: left;
}
.b-3-list .li-text p {
	display: block;
	width: 100%;
	line-height: 1.2;
	color: #000000;
	text-align: left;
	font-size: 16px;
	margin-bottom: 16px;
}
.b-3-list .li-text .li-btn {
	display: inline-block;
	border: 1px solid rgb(49, 147, 230);
	border-radius: 5px;
	color: rgb(49, 147, 230);
	padding: 15px 20px;
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-list .li-text .li-btn:hover {
	background-color: rgb(49, 147, 230);
	color: #ffffff;
}
.b-3-list .li-image {
	display: inline-block;
	vertical-align: top;
	width: calc(30% - 4px);
	box-sizing: border-box;
	border: 1px solid rgb(232, 232, 232);
	padding: 12px;
}
.b-3-list .li-image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-4 .b-block {
	padding-top: 50px;
	padding-bottom: 20px;
}
.b-4 h2 {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-4 h2::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.b-4-list {
	text-align: left;
}
.b-4-list li {
	display: inline-block;
	vertical-align: top;
	width: calc(33% - 19px);
	box-sizing: border-box;
	padding: 20px;
	margin: 0 10px 30px;
	border: 1px solid rgb(232, 232, 232);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}
.b-4-list .li-image {
	width: 100%;
	box-sizing: border-box;
	height: 230px;
	position: relative;
	border: 1px solid rgb(232, 232, 232);
	margin-bottom: 19px;
}
.b-4-list .li-image img {
	display: block;
	position: absolute;
	max-width: calc(100% - 20px);
	max-height: calc(100% - 20px);
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-4-list .li-name {
	font-family: 'MuseoSansCyrl-700';
	color: #000000;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.b-4-list .li-type {
	color: rgb(49, 147, 230);
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 10px;
}
.b-4-list p {
	display: block;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 15px;
}
.b-4-list .li-bottom span {
	font-size: 20px;
	display: block;
	font-family: 'MuseoSansCyrl-900';
	margin-top: 17px;
	position: relative;
	padding-right: 17px;
}
.b-4-list .li-bottom span::before {
	content: '';
	display: block;
	width: 13px;
	height: 14px;
	position: absolute;
	right: 0;
	top: calc(50% - 6px);
	background-image: url('../i/rub.png');
	background-size: contain;
}
.b-4-list .li-bottom .li-btn {
	display: inline-block;
	color: #ffffff;
	padding: 17px 30px;
	border: 1px solid rgb(26, 48, 102);
	background-color: rgb(49, 147, 230);
	border-radius: 5px;
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list .li-bottom .li-btn:hover {
	background-color: rgb(26, 48, 102);
}

.b-5 {
	background-color: #f2f2f2;
}
.b-5 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.b-5 h2 {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-5 h2::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.reviews-slider .slide-left {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	width: 100%;
	margin-right: 14px;
}
.reviews-slider .slide-left img {
	display: block;
	margin: 0 auto 20px;
	max-width: 100%;
}
.reviews-slider .social-list {
	padding-bottom: 10px;
}
.reviews-slider .social-list li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
}
.reviews-slider .social-list li a {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #818181;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.reviews-slider .social-list li a img {
	display: block;
	max-width: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.reviews-slider .social-list li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.reviews-slider .slide-right {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 318px);
	text-align: left;
	margin-top: 14px;
}
.reviews-slider .slide-right .name {
	font-family: 'MuseoSansCyrl-700';
	font-size: 20px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 15px;
}
.reviews-slider .text-list li {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	font-size: 16px;
	font-family: 'MuseoSansCyrl-300';
	line-height: 1.2;
}
.reviews-slider .text-list li.type-li::before {
	content: '';
	display: block;
	width: 19px;
	height: 16px;
	background-image: url('../i/type-icon.png');
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: calc(50% - 8px);
}
.reviews-slider .text-list li.problem-li::before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background-image: url('../i/problem-icon.png');
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: calc(50% - 9px);
}
.reviews-slider .text-list li.decision-li::before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background-image: url('../i/decision-icon.png');
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: calc(50% - 9px);
}
.reviews-slider .text-list li.type-li span {
	color: #264799;
	font-family: 'MuseoSansCyrl-700';
}
.reviews-slider .text-list li.problem-li span {
	color: #a50000;
	font-family: 'MuseoSansCyrl-700';
}
.reviews-slider .text-list li.decision-li span {
	color: #0e920a;
	font-family: 'MuseoSansCyrl-700';
}
.reviews-slider .slide-right p {
	display: block;
	line-height: 1.2;
	font-size: 16px;
}
.reviews-slider {
	padding: 0 70px;
	position: relative;
}
.reviews-slider .slick-arrow {
	position: absolute;
	top: calc(50% - 25px);
	display: block;
	border: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.reviews-slider .slick-arrow:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
.reviews-slider .slick-arrow.slick-prev {
	background-image: url('../i/prev-arr.png');
	left: 0;
	z-index: 1;
}
.reviews-slider .slick-arrow.slick-next {
	background-image: url('../i/next-arr.png');
	right: 0;
	z-index: 1;
}

.b-6 .b-block {
	padding-top: 50px;
	padding-bottom: 30px;
}
.b-6 h2 {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-6 h2::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.b-6-list li {
	padding: 20px 0 16px;
	border-bottom: 1px solid rgb(230, 230, 230);
}
.b-6-list li:last-child {
	border: 0;
}
.b-6-list .li-image {
	display: inline-block;
	vertical-align: middle;
	width: calc(15% - 4px);
	margin-right: 15px;
	box-sizing: border-box;
}
.b-6-list .li-image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-list li:hover .li-image img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}
.b-6-list .li-text {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	text-align: left;
	margin-right: 15px;
	width: calc(70% - 34px);
}
.b-6-list .li-text .li-name {
	font-size: 20px;
	line-height: 1.2;
	font-family: 'MuseoSansCyrl-700';
	margin-bottom: 15px;
}
.b-6-list .li-text span {
	display: block;
	margin-bottom: 10px;
	color: rgb(49, 147, 230);
	font-family: 'MuseoSansCyrl-700';
	font-size: 18px;
}
.b-6-list .li-text p {
	display: block;
	font-size: 16px;
	line-height: 1.2;
}
.b-6-list .li-buttons {
	display: inline-block;
	vertical-align: middle;
	width: calc(15% - 4px);
}
.b-6-list .li-buttons .li-btn {
	display: inline-block;
	width: 100%;
	padding: 17px 10px;
	box-sizing: border-box;
	background-color: rgb(49, 147, 230);
	border-radius: 5px;
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-list .li-buttons .li-btn:hover {
	background-color: rgb(26, 48, 102);
}
.b-6-list .li-buttons .btn-text {
	margin-top: 19px;
	font-family: 'MuseoSansCyrl-900';
	font-size: 20px;
}

.b-7 {
	background-color: rgb(49, 147, 230);
}
.b-7 .b-block {
	padding-top: 49px;
	padding-bottom: 49px;
}
.b-7 h2 {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 518px);
	color: #ffffff;
	font-family: 'MuseoSansCyrl-900';
	font-size: 40px;
	line-height: 1.25;
	text-align: left;
}
.b-7 h2 span {
	color: #ffea00;
	text-transform: uppercase;
}
.b-7-submit {
	display: inline-block;
	vertical-align: middle;
	padding: 31px 20px 37px;
	box-sizing: border-box;
	max-width: 450px;
	width: 100%;
	border: 1px dashed #ffffff;
}
.b-7-submit .submit-name {
	font-size: 25px;
	line-height: 1.2;
	color: #ffffff;
	font-family: 'MuseoSansCyrl-500';
	margin-bottom: 20px;
}
.b-7-submit .submit-subname {
	font-size: 17px;
	color: #ffffff;
	font-family: 'MuseoSansCyrl-100';
	line-height: 1.2;
	margin-bottom: 17px;
}
.b-7-submit form {
	display: block;
}
.b-7-submit input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	border: 1px solid #ffffff;
	padding: 18px 20px;
	font-size: 16px;
	font-family: 'MuseoSansCyrl-300';
	color: #ffffff;
	margin-bottom: 20px;
	background-color: transparent;
	border-radius: 5px;
}
.b-7-submit input::-webkit-input-placeholder {
	color: #ffffff;
	font-family: 'MuseoSansCyrl-300';
}
.b-7-submit input:-moz-placeholder {
	color: #ffffff;
	font-family: 'MuseoSansCyrl-300';
}
.b-7-submit input:focus::-webkit-input-placeholder {
	color: transparent;
}
.b-7-submit input:focus:-moz-placeholder {
	color: transparent;
}
.b-7-submit button {
	display: block;
	margin: 0 auto 18px;
	border-radius: 5px;
	background-color: rgb(204, 0, 0);
	max-width: 240px;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	font-size: 18px;
	color: #ffffff;
	font-family: 'MuseoSansCyrl-500';
	border: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-7-submit button:hover {
	cursor: pointer;
	background-color: #950000;
}
.b-7-submit .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 13px;
	color: #ffffff;
	line-height: 1.2;
	position: relative;
	text-align: left;
	padding-left: 23px;
}
.b-7-submit .button-text a {
	color: #ffffff;
}
.b-7-submit .button-text a:hover {
	text-decoration: underline;
}
.b-7-submit .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 13px;
	height: 13px;
	border: 1px solid #ffffff;
	left: 0;
	top: 2px;
}
.b-7-submit .button-text .radio-btn.error {
	border-color: #ff0000;
}
.b-7-submit .button-text .radio-btn:hover {
	cursor: pointer;
}
.b-7-submit .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 6px;
	height: 1px;
	position: absolute;
	left: 1px;
	top: 7px;
	background-color: #ffffff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.b-7-submit .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 9px;
	height: 1px;
	position: absolute;
	left: 4px;
	top: 6px;
	background-color: #ffffff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.b-8 .b-block {
	padding-top: 50px;
	padding-bottom: 30px;
}
.b-8 h2 {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-8 h2::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.b-8-list li {
	padding: 20px 0 16px;
	border-bottom: 1px solid rgb(230, 230, 230);
}
.b-8-list li:last-child {
	border: 0;
}
.b-8-list .li-image {
	display: inline-block;
	vertical-align: middle;
	width: calc(25% - 4px);
	margin-right: 15px;
	box-sizing: border-box;
}
.b-8-list .li-image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-8-list .li-text {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	text-align: left;
	margin-right: 15px;
	width: calc(60% - 34px);
}
.b-8-list .li-text .li-name {
	font-size: 20px;
	line-height: 1.2;
	font-family: 'MuseoSansCyrl-700';
	margin-bottom: 15px;
}
.b-8-list .li-text span {
	display: block;
	margin-bottom: 10px;
	color: rgb(49, 147, 230);
	font-family: 'MuseoSansCyrl-700';
	font-size: 18px;
}
.b-8-list .li-text p {
	display: block;
	font-size: 16px;
	line-height: 1.2;
}
.b-8-list .li-buttons {
	display: inline-block;
	vertical-align: middle;
	width: calc(15% - 4px);
}
.b-8-list .li-buttons .li-btn {
	display: inline-block;
	width: 100%;
	padding: 17px 10px;
	box-sizing: border-box;
	background-color: rgb(49, 147, 230);
	border-radius: 5px;
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-8-list .li-buttons .li-btn:hover {
	background-color: rgb(26, 48, 102);
}
.b-8-list .li-buttons .btn-text {
	margin-top: 19px;
	font-family: 'MuseoSansCyrl-900';
	font-size: 20px;
}

.b-9 {
	background-color: #f2f2f2;
}
.b-9 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.b-9 h2 {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-9 h2::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.b-9 .filter ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 16px;
	font-family: 'MuseoSansCyrl-700';
	font-size: 16px;
	color: #000000;
}
.b-9 .filter ul li.active {
	color: rgb(49, 147, 230);
}
.b-9 .filter ul li:hover {
	cursor: pointer;
}
.b-9-list li {
	display: inline-block;
	vertical-align: top;
	max-width: 350px;
	width: calc(100% - 20px);
	margin: 0 10px 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}
.b-9-list li.active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.b-9-list li:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}
.b-9-list img {
	display: block;
	max-width: 100%;
}
.b-9-list .li-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	max-height: 100%;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-9-list .li-text p {
	display: block;
	font-family: 'MuseoSansCyrl-700';
	color: #ffffff;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 24px;
}
.b-9-list .li-text .li-btn {
	display: inline-block;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-family: 'MuseoSansCyrl-500';
	font-size: 18px;
	padding: 15px 24px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-9-list .li-text .li-btn:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.b-9 .more-btn {
	display: inline-block;
	font-family: 'MuseoSansCyrl-700';
	font-size: 16px;
	color: rgb(49, 147, 230);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-9 .more-btn:hover {
	color: #126ebc;
}

.b-10 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.b-10 h2 {
	display: block;
	padding-bottom: 25px;
	font-size: 40px;
	font-family: 'MuseoSansCyrl-900';
	color: #000000;
	position: relative;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-10 h2::before {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: calc(50% - 80px);
	width: 160px;
	height: 4px;
	background-color: rgb(49, 147, 230);
}
.b-10-list {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: top;
	justify-content: space-between;
	margin-bottom: 30px;
}
.b-10-list li {
	padding: 0 10px;
}
.b-10-list .li-image {
	margin: 0 auto 23px;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
	width: 116px;
	height: 116px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-10-list li:hover .li-image {
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.19);
}
.b-10-list .li-image img {
	display: block;
	max-width: calc(100% - 40px);
	max-height: calc(100% - 40px);
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-10-list li p {
	display: block;
	font-family: 'MuseoSansCyrl-700';
	font-size: 18px;
	line-height: 1.2;
	color: rgb(77, 77, 77);
}
.b-10-list li p a {
	color: rgb(77, 77, 77);
}
.b-10-list li p span {
	font-family: 'MuseoSansCyrl-300';
	font-size: 14px;
}
.b-10 .social-list li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
}
.b-10 .social-list li a {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #919191;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
.b-10 .social-list li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.b-10 .social-list li a img {
	display: block;
	max-width: 15px;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.footer {
	background-color: #e6e6e6;
}
.footer .b-block {
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer-logo {
	display: inline-block;
	vertical-align: middle;
	max-width: 155px;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-logo-atk {
	display: inline-block;
	vertical-align: middle;
	max-width: 139px;
}
.footer-logo-atk img {
	display: block;
	max-width: 100%;
}
.footer-text {
	display: inline-block;
	vertical-align: middle;
	margin-right: 48px;
	width: calc(100% - 350px);
}
.footer-text-flex {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	width: 100% - 350px;
}
.footer-text p {
	display: block;
	max-width: 220px;
	font-size: 14px;
	color: rgb(77, 77, 77);
	line-height: 1.2;
	text-align: left;
}
.footer-text ul {
	display: block;
	box-sizing: border-box;
	padding: 0 10px;
}
.footer-text ul li {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 10px;
	color: rgb(77, 77, 77);
	text-align: left;
}
.footer-text ul li a {
	color: rgb(77, 77, 77);
}
.footer-text ul li a:hover {
	text-decoration: underline;
}








@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	body {
		padding-top: 148px;
	}
	.header-logo {
		max-width: 110px;
		top: 10px;
	}
	.header-top {
		padding-left: 120px;
	}
	.header-phone a {
		font-size: 18px;
	}
	.header .social-list {
		margin-left: 0;
	}
	.header-order {
		margin-left: 0;
	}
	.header-top-left {
		display: none;
	}
	.header-top-right {
		display: block;
		width: 100%;
		text-align: right;
	}
	.header-nav {
		padding-left: 0;
	}
	.b-1 h1 {
		width: 100%;
	}
	.b-1 p {
		width: 100%;
	}
	.b-1-img {
		position: static;
		margin: 0 auto 30px;
		max-width: 100%;
		width: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.b-3-list {
		text-align: center;
	}
	.b-3-list li {
		margin-right: auto;
	}
	.b-4-list li {
		display: block;
		width: 100%;
		margin: 0 auto 30px;
		max-width: 350px;
	}
	.reviews-slider .slide-left {
		max-width: 200px;
	}
	.reviews-slider .slide-right {
		width: calc(100% - 218px);
	}
	.b-7 h2 {
		display: block;
		max-width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
	.b-7-submit {
		display: block;
		margin: 0 auto;
	}
	.b-8-list .li-image, .b-8-list .li-buttons {
		width: calc(20% - 4px);
	}
	.b-10-list li p {
		font-size: 16px;
	}
	.footer-text {
		display: block;
		margin: 30px auto;
		width: 100%;
	}
	.footer-text p {
		max-width: 190px;
	}
}
@media screen and (max-width: 767px){
	.b-block {
		padding: 0 10px;
	}
	body {
		padding-top: 62px;
	}
	.header {
		position: fixed;
	}
	.header .b-block {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.header-logo {
		display: none;
	}
	.header-top {
		padding-left: 0;
		margin-bottom: 0;
	}
	.header .social-list {
		display: none;
	}
	.header-order {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.b-1 h1 {
		max-width: 100%;
	}
	.b-1 p {
		max-width: 100%;
	}
	.b-2-left {
		display: block;
		padding-right: 0;
		width: 100%;
	}
	.b-2-right {
		display: block;
		width: 100%;
		padding-left: 0;
	}
	.b-3-list .li-text {
		display: block;
		width: 100%;
		margin-right: auto;
	}
	.b-3-list li {
		position: relative;
		padding-top: 160px;
	}
	.b-3-list .li-image {
		display: block;
		position: absolute;
		width: 120px;
		height: 120px;
		left: calc(50% - 60px);
		top: 20px;
	}
	.b-3-list .li-image img {
		max-height: 100%;
	}
	.b-4-list .li-bottom {
		text-align: center;
	}
	.b-4-list .li-bottom span {
		float: none !important;
		margin-bottom: 20px;
	}
	.b-4-list .li-bottom .li-btn {
		float: none !important;
	}
	.reviews-slider .slide-left {
		max-width: 300px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.reviews-slider .slide-right {
		display: block;
		width: 100%;
	}
	.reviews-slider .slick-arrow {
		width: 30px;
		height: 30px;
		background-size: contain;
		top: 125px;
	}
	.reviews-slider {
		padding: 0 40px;
	}
	.b-6-list .li-image {
		display: block;
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-6-list .li-text {
		display: block;
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-6-list .li-buttons {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
	.b-8-list .li-image {
		display: block;
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-8-list .li-text {
		display: block;
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-8-list .li-buttons {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
	.b-9 .filter ul li {
		display: block;
		margin: 0 auto 16px;
	}
	.b-9-list .li-text p {
		font-size: 25px;
	}
	.b-10-list {
		display: block;
	}
	.b-10-list li {
		margin-bottom: 40px;
	}
	.footer .b-block {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.footer-text-flex {
		display: block;
	}
	.footer-text p {
		max-width: 300px;
		margin: 0 auto 20px;
		text-align: center;
	}
	.footer-text ul li {
		text-align: center;
	}
	.header .mobile-menu {
		display: block;
		position: fixed;
		box-sizing: border-box;
		width: 100%;
		height: 100vh;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow-y: auto;
		background-color: #ffffff;
		top: -110%;
		left: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
		z-index: 2;
	}
	.header .mobile-menu .close-btn {
		top: 20px;
		left: 15px;
	}
	.header .mobile-menu.active {
		top: 0;
	}
	.header .mobile-menu .header-nav, .header .mobile-menu .social-list {
		display: block;
		margin-bottom: 20px;
	}
	.header-nav a br {
		display: none;
	}
	.header-nav li {
		margin-bottom: 10px;
	}
	.header .mobile-menu .header-logo {
		display: inline-block;
		position: static;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.header .mobile-btn {
		display: block;
	}
	.header .close-btn {
		display: block;
	}
	.mobile-menu .header-order {
		display: block;
	}
}